<configuration>
   <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules runAllManagedModulesForAllRequests="true"/>
      <rewrite>
         <rules>
            <clear />
			
			
			
            <!-- Website main Port -->
            <rule name="Rewrite to mainPortfolio" stopProcessing="true">
               <match url="(.*)" />
               <conditions>
                  <add input="{HTTP_HOST}" pattern="^www.jeffward-portfolio.com$" />
               </conditions>
               <action type="Rewrite" url="portfolioClient/{R:1}" />
            </rule>
            <rule name="jeffward-portfolio-rewrite" enabled="true" stopProcessing="true">
               <match url="(.*)" />
               <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                  <add input="{HTTP_HOST}" pattern="^(www\.)?jeffward-portfolio\.com$" />
               </conditions>
               <action type="Rewrite" url="/portfolioClient/{R:0}" />
            </rule>
			
			
				
            <!-- Website Port API -->
            <rule name="Rewrite to portfolio Api" enabled="true" stopProcessing="true">
               <match url="(.*)" />
               <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                  <add input="{HTTP_HOST}" pattern="^www\.portfolioApi\.jeffward-portfolio\.com$" />
               </conditions>
               <action type="Redirect" url="http://www.portfolioApi.jeffward-portfolio.com/{R:0}" />
            </rule>
            <rule name="jeffward-portfolio-API-rewrite" enabled="true" stopProcessing="true">
               <match url="(.*)" />
               <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                  <add input="{HTTP_HOST}" pattern="^(www\.)?portfolioApi\.jeffward-portfolio\.com$" />
                  <add input="{PATH_INFO}" pattern="^/portfolioApi/($|/)" negate="true" />
               </conditions>
               <action type="Rewrite" url="/portfolioApi/{R:0}" />
            </rule>
			
			
            <!--  Website Admin -->
            <rule name="jeffward-portfolio-admin" enabled="true" stopProcessing="true">
               <match url="(.*)" />
               <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                  <add input="{HTTP_HOST}" pattern="^www\.admin797\.jeffward-portfolio\.com$" />
               </conditions>
               <action type="Redirect" url="http://www.admin797.jeffward-portfolio.com/{R:0}" />
            </rule>
            <rule name="jeffward-portfolio-admin-rewrite" enabled="true" stopProcessing="true">
               <match url="(.*)" />
               <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                  <add input="{HTTP_HOST}" pattern="^(www\.)?admin797\.jeffward-portfolio\.com$" />
                  <add input="{PATH_INFO}" pattern="^/admin797/($|/)" negate="true" />
               </conditions>
               <action type="Rewrite" url="/admin797/{R:0}" />
            </rule>
			
			
         </rules>
      </rewrite>
      <urlCompression doStaticCompression="true" doDynamicCompression="true" />
   </system.webServer>
</configuration>